

<div class="card">
  <div class="card-header">
    <div class="marquee-rtl">
      <div>ThePapyrusPrint - La qualité de service, notre priorité.</div>
    </div>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">ThePapyrusPrint - Devis</h5>
              <form>
                <div class="form-group">
                  <label for="produit">Produit :</label>
                  <select type="text" class="form-control" id="produit" required [(ngModel)]="selectedProduct" (change)="onChangeProduit()"  name="produit">
                    <option>None</option>
                    <option *ngFor="let produit of produits" [value]="produit.type">{{ produit.title }}</option>
                  </select>
                </div>
                <div class="form-group" [hidden]="!show_Format">
                  <label for="produit">Format :</label>
                  <select type="text" class="form-control" id="format" required [(ngModel)]="selectedFormat" (change)="onChangeFormat()" name="format">
                    <option>None</option>
                    <option *ngFor="let format of formats" [value]="[format.prixClient, format.prixSousTraitant]">{{ format.title }}</option>
                  </select>
                </div>
                <div class="form-group" [hidden]="!show_Matiere">
                  <label for="matiere">Matière :</label>
                  <select type="text" class="form-control" id="matiere" required [(ngModel)]="selectedMatiere" (change)="onChangeMatiere()" name="matiere">
                    <option>None</option>
                    <option *ngFor="let matiere of matieres" [value]="[matiere.prixClient, matiere.prixSousTraitant]">{{ matiere.title }}</option>
                  </select>
                </div>
                <div class="form-group" [hidden]="!show_Taille">
                  <label for="produit">Surface :</label>
                  <select type="text" class="form-control" id="taille" required [(ngModel)]="selectedTaille" (change)="onChangeTaille()" name="taille">
                    <option>None</option>
                    <option *ngFor="let taille of tailles"  [value]="taille.valeur">{{ taille.title }}</option>
                  </select>
                </div>
                <div class="form-group" [hidden]="!show_PapierC">
                  <label for="papiers_carte">Type de papier :</label>
                  <select type="text" class="form-control" id="taille" required [(ngModel)]="selectedPapierC" (change)="onChangePapiers_cartes()" name="taille">
                    <option>None</option>
                    <option *ngFor="let papiers_carte of papiers_cartes" [value]="[papiers_carte.prixClient, papiers_carte.prixSousTraitant]">{{ papiers_carte.title }}</option>
                  </select>
                </div>
                <div class="form-group" [hidden]="!show_PapierD">
                  <label for="papiers_design">Type de papier :</label>
                  <select type="text" class="form-control" id="taille" required [(ngModel)]="selectedPapierD" (change)="onChangePapiers_designs()" name="taille">
                    <option>None</option>
                    <option *ngFor="let papiers_design of papiers_designs" [value]="[papiers_design.prixClient, papiers_design.prixSousTraitant]">{{ papiers_design.title }}</option>
                  </select>
                </div>
                <div class="form-group" [hidden]="!show_macaronM">
                  <label for="papiers_design">Model de macaron :</label>
                  <select type="text" class="form-control" id="taille" required [(ngModel)]="selectedMacaron" (change)="onChangeMacaron_model()" name="taille">
                    <option>None</option>
                    <option *ngFor="let model_macaron of model_macarons" [value]="[model_macaron.prixClient, model_macaron.prixSousTraitant]">{{ model_macaron.title }}</option>
                  </select>
                </div>
                <div class="form-group" [hidden]="!show_quantite1">
                  <label for="quantite">Quantité de produit (Gros) :</label>
                  <input type="number" class="form-control" id="quantite1" [(ngModel)]="selectedQuantite1" placeholder="Quantité de produit" min="0" step="50" name="quantite1">
                </div>
                <div class="form-group" [hidden]="!show_quantite2">
                  <label for="quantite">Quantité de produit (Détail) :</label>
                  <input type="number" class="form-control" id="quantite2" [(ngModel)]="selectedQuantite2" placeholder="Quantité de produit" min="0" name="quantite2">
                </div>
                
                <button type="button" class="btn btn-primary" (click)="calculerDevis()">Calculer</button>
              </form>
            </div>
          </div>
          <br>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Total du Devis</h5>
              <p class="card-text">Client : {{ montantClient  | currency:'XAF' }}</p>
              <p class="card-text">Sous traitant : {{ montantSousTraitant  | currency:'XAF' }}</p>
              <p class="card-link" style="color: rgb(0, 162, 255);" (click)="effacer()">Effacer</p>
            </div>
          </div>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>
  </div>
</div>